PORT=5000
MONGO_URI=mongodb://rastogidb1_db_user:dev123@ac-bolyzgl-shard-00-00.q5av7iy.mongodb.net:27017,ac-bolyzgl-shard-00-01.q5av7iy.mongodb.net:27017,ac-bolyzgl-shard-00-02.q5av7iy.mongodb.net:27017/?ssl=true&replicaSet=atlas-yrv2of-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=1948a8dae841a22ec8002f3f2149d77eb3204949322ca2f1d8a9fc20fc9a617e
